{% macro busqueda(url) %}
<form action="/{{ url }}" method="GET">
    <section class="form-content">
        <div class="form-input">
            <label for="query">Busqueda: <span style="color: red;">*</span> </label>
            <input type="text" id="query" name="query" required>
            <label for="strategy">Estrategia: </label>
            <select id="strategy" name="strategy">
                <option value="fts" selected>FTS</option>
                <option value="semantic_search">Semántica</option>
                <option value="hybrid_search">Híbrido</option>
            </select>
        </div>
    </section>
<button type="submit">Buscar</button>
</form>
{% endmacro %}
