{% macro busqueda(url) %}
<div class="form-container">
    <form action="/{{ url }}" method="GET" class="search-form">
        <div class="search-group">
            <label for="search">Búsqueda:</label>
            <input type="text" class="search-input" id="search-input" placeholder="Ingresa tu busqueda..." name="query" required>
        </div>
        <div class="search-group">
        <label for="strategy">Método de Busqueda:</label>
            <select id="strategy" name="strategy" class="search-type">
                <option value="Fts" selected>FTS</option>
                <option value="Semantic">Semántica</option>
                <option value="HybridRrf">Híbrido Reciprocal Rank Fusion</option>
                <option value="HybridKf">Híbrido Keyword First</option>
                <option value="HybridReRank">Híbrido Re-Ranking by Semantics</option>
            </select>
        </div>

        <div class="search-group">
            <label>Sexo:</label>
            <div class="radio-group">
                <label>
                    <input type="radio" name="sexo" value="U" checked> Todos
                </label>
                <label>
                    <input type="radio" name="sexo" value="M"> Masculino
                </label>
                <label>
                    <input type="radio" name="sexo" value="F"> Femenino
                </label>
            </div>
        </div>
        <div class="search-group">
            <label>Rango de Edad:</label>
            <div class="age-range">
                <input type="number" id="age_min" name="edad_min" min="18" max="100" value="18" placeholder="Mínimo">
                <input type="number" id="age_max" name="edad_max" min="18" max="100" value="100" placeholder="Máximo">
            </div>
        </div>

        <div class="search-group">
            <label for="balanceSlider">Pesos:</label>
            <input type="range" id="balanceSlider" min="0" max="100" value="50">
            <p>Peso FTS: <span id="value1Display" class="slider-value">50</span></p>
            <p>Peso Semantic: <span id="value2Display" class="slider-value">50</span></p>

            <div class="tooltip">
                Esto solo tiene efecto si el metodo de búsqueda es Reciprocal Rank Fusion!
            </div>
        </div>

        <div class="search-group">
            <input type="hidden" id="hiddenValue1" name="peso_fts" value="50">
            <input type="hidden" id="hiddenValue2" name="peso_semantic" value="50">
        </div>

        <div class="button-container">
            <button type="submit" class="search-button">Buscar</button>
        </div>
    </form>
    <div class="tooltip">
        Presiona Enter para buscar o usa selecciona el tipo de búsqueda. Presiona Ctrl + b para empezar a buscar.
    </div>
</div>
{% endmacro %}
