{% macro busqueda() %}
<form id="dynamic_form">
    <section class="form-content">
        <div class="form-input">
            <label for="query">Busqueda: <span style="color: red;">*</span> </label>
            <input type="text" id="query" name="query" required>
            <label for="sexo">Sexo: </label>
            <select id="sexo" name="sexo">
                <option value="todo" selected>Todo</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
            </select>
            <label for="busqueda exacta">
                <input type="checkbox" id="ft_search" name="busqueda exacta" onchange="updateAction()"> Busqueda exacta
            </label>

            <label for="busqueda semántica">
                <input type="checkbox" id="semantic_search" name="busqueda semantica" onchange="updateAction()"> Busqueda semántica
            </label>
        </div>
    </section>
<button type="submit">Buscar</button>
</form>
{% endmacro %}
