<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link rel="preload" href="/_assets/styles.css" as="style" onload="this.rel='stylesheet'">
  <title>Querysense</title>
    <link rel="icon" type="image/x-icon" href="../assets/magnifyingglass_102622.ico">
</head>
    <body>
        <aside class="sidebar">
            <h2>Historial</h2>
            {% block historial %} {% endblock %}
        </aside>
        <main class="main-content">
                {% block content %} {% endblock %}
        </main>
        <script src="/_assets/main.js"></script>
    </body>
</html>
