{%- import "./componentes/form.html" as scope -%}
{%- import "./componentes/historial.html" as cache -%}
{% extends "base.html" %}

{%block historial %}
    {% call cache::historial("search") %}
{% endblock %}

{% block content %}
    {% call scope::busqueda("search") %}

    <div class="table-header">
        <div class="result-count">{{ msg }}</div>
        <div class="pagination"></div> 
    </div>

    <div class="table-container">
        <table class="modern-table" id="table-content">
            <thead>
                <tr>
                    <th scope="col">Puntaje</th>
                    <th scope="col">Correo
                        <button id="csv_trigger" class="search-button">Descargar correos</button>
                    </th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Template</th>
                    <th scope="col">Estrategia</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
                    <td> {{ row.score }} </td>
                    <td class="csv"> {{ row.email }} </td>
                    <td> {{ row.edad }} </td>
                    <td> {{ row.sexo }} </td> 
                    <td> {{ row.template|safe }} </td> 
                    <td> {{ row.match_type}} </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <p style="color:green;"> <b>* Las palabras resaltadas en verde son los resultados encontrados usando FTS!</b> </p>
{% endblock content %}

